<p-toolbar aria-label="Top menu">
  @if (menuConfig?.logo) {
    <ng-template #start>
      <a [href]="menuConfig?.logo?.url">
      @if(menuConfig?.logo?.imageUrl) {
        <img ngSrc="{{menuConfig?.logo?.imageUrl}}" [alt]="menuConfig?.logo?.name" fill>
      } @else {
        <span>{{menuConfig?.logo?.name}}</span>
      }
      </a>
    </ng-template>
  }
  <ng-template #center>
    @for (menuItem of menuConfig?.items; track menuItem.label) {
      <p-button [label]="menuItem.label" text />
    }
  </ng-template>
  <ng-template #end>
    <app-user-avatar [userData]="menuConfig?.user" (click)="drawersService.secondaryDrawerToggle()">
    </app-user-avatar>
  </ng-template>
</p-toolbar>
