.pageLayoutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: 400% 400%;
  background: linear-gradient(180deg, rgba(80,214,141,1) 0%, rgba(33,84,125,1) 100%);
}
