@import "../../assets/styles/abstracts";

.formlyWrapper {
  &-panel {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-label {
    display: inline-block;
    margin-bottom: 8px;
  }

  &-errorMsg {
    color: $clr_error;
    margin: 4px 0;
  }
}

::ng-deep {
  .itemsGroup {
    display: flex;
    gap: 16px;
    flex-direction: column;

    .checkboxWrapper {
      display: flex;
      gap: 8px;
    }

    &-vertical {
      flex-direction: column;
    }

    &-horizontal {
      flex-direction: row;

      .checkboxWrapper {
        gap: 6px;
      }
    }
  }
}
