@import "primeicons/primeicons.css";
@import "assets/styles/abstracts";

body {
  padding: 0;
  margin: 0;
  font-family: "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  background-color: $clr_surface-body;
  color: $clr_surface-white;
}

a {
  color: var(--p-primary-color);
}

