// colors vars
// ===========
$clr_surface-body: var(--surface-ground);
$clr_surface-ground: var(--surface-ground);
$clr_surface-card: var(--surface-ground);
$clr_surface-white: var(--surface-white);
$clr_surface-black: var(--surface-black);
$clr_surface-input-text: var(--input-text-background);
$clr_surface-input-text-border: var(--input-text-border);
$clr_surface-input-text-color: var( --input-text-color);
$clr_surface-input-text-color: var( --input-text-color);
